body{
  margin: 0px;
  padding: 0px;
  background-image: url("../../public/images/backgroundPic.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.body-div{
  height: 100vh;
}

.d-none{
  display: none;
}